{% extends 'base.html.twig' %}

{% block title %}TODO{% endblock %}

{% block body %}
    <p>
        <a href="/todo/new" class="btn btn-sm btn-primary">Create new todo</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>
                TODO
            </th>
            <th>
                Created
            </th>
            <th>
                Is active
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.getTitle }}</td>
                <td>{{ todo.getCreatedAt.format('d.m.Y H:i:s') }}</td>
                <td>{{ todo.getIsActive }}</td>
                <td>
                    <a href="{{ path('todo', {id: todo.getId}) }}" class="btn btn-sm btn-outline-success">View</a>
                    <a href="{{ path('edit_todo', {id: todo.getId}) }}"
                       class="btn btn-sm btn-outline-warning">Edit</a>
                    <a href="{{ path('delete_todo', {id: todo.getId}) }}"
                       class="btn btn-sm btn-outline-danger js-delete"
                       data-id="{{ todo.getId }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <p>Congratulations! Todos not found. Go get some rest!</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/crud.js') }}"></script>
{% endblock %}
